

@import url('//fonts.googleapis.com/css?family=PT+Sans+Caption');

$menuFont: "PT Sans Caption";

$siteColour: #b3966e;
$menuitemColour: #b39663;




body
    background-color: $siteColour;



header
    ul.menubar
        list-style: none;
        background-color: #000;
        height: 2em;

        li
            float: left;
            padding: 10px;

            a
                font-family: $menuFont;
                font-weight: bold;
                text-decoration: none;
                color: $menuitemColour;

aside
    float: left;
    ul.sidebar
        list-style: none;
        padding: 0;
        margin: 0;

        li a
            font-family: $menuFont;
            font-weight: bold;
            font-size: 14px;
            display: inline-block;
            color: darken($siteColour, 40%);
            text-decoration: none;
            width: 134px; height: 100px;


main
    background-color: #fff;
    border-radius: 16px;
    padding: 6px;


